
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap%27');
*{
    margin-left: 1rem;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem; */
    
}
html{
    scroll-behavior: smooth;
    /* scroll-margin-inline: 4rem; */
}
/*
--Defining colors 
*/
:root{
    --dark-color: hsl(240, 22%, 13%);
    --secondary-color: #282162;
    --primary-color: #7562E0;
    --low-priority: #848191;
    --light-color: #f5f5f5;
    
    
}
.nowrap{
    white-space: nowrap;
}
.menu-button, .menu-icon{
    display: none;
}
a{
    color: var(--primary-color);
    text-decoration: none;
    margin: 0;
}
i{
    transform: scale(1.5);
}
.links{
    color: var(--light-color);


}
.links:hover{
    color: var(--primary-color);


}
.nav-anchor{
    color: var(--light-color);
    text-decoration: none;

}
.nav-anchor:hover{
    color: var(--primary-color);
    text-decoration: underline;

}
a:active{
    color: rgb(255, 74, 74);
}

body{
    background-color: var(--dark-color);
    color: var(--light-color);
    overflow-x: visible;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem;
}
nav{
    display: flex;
    justify-content: space-between;
    
}
ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    margin-right: 0.25em;
    
}
#display{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    justify-content: space-between;
}
.nav-anchor{
    
    font-size: 1.125rem;
    text-transform:capitalize;
    transition: all 0.5s ease;
}
li:hover{
    font-size: 1.40rem;
    font-weight: 600;
}
h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
    font-size: 2rem;
}
#title{
    font-size: 1.75rem;
    cursor: pointer;
    transition: all 0.5s ease;
    
}
#about{
    margin-left: 2rem;
}
#profile{
    border-radius: 50%;
}

#contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-top: 1rem;     */
}
#message{
    margin-top: 1rem;
    margin-right: 1rem;
}
input{
    height: 5vh;
}
input, textarea{
    
    color: var(--light-color);
    font-size: 1.125rem;
    display:block;
    background-color: hsl(240, 22%, 13%);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-top: 0.5em;
    margin-left: 0;
    width: 100%;
    padding: 0.5em;
}

  
.projects{
    margin-left: 2rem;
}
button{
    transform: scale(1);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--primary-color);
    /* border: 3px solid linear-gradient(to left, #743ad5, #d53a9d); */
    padding: 0.5rem 1rem; 
    color: var(--light-color);
    font-size: 1rem;
    transition: transform 0.5s ease;

}
button:hover{
    transform: scale(1.05);
}


footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    
   
}
@media screen and (max-width: 800px){

    body{
        overflow-y:visible;
    }
    ul{
        display: none;
    }
    nav{
        position: relative;
    }
    main,footer{
        text-align:center;

    }
    /* .hamburger{
        margin-right: .2em;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 2rem;
        height: 0.2rem;
        background-color: var(--light-color);
        border-radius: 10px;

    } */
    .menu-button{
        background-color: transparent;
        border:none;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    
    }
    .menu-icon, .menu-icon::before, .menu-icon::after{
        background-color: var(--light-color);
        width: 40px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        transition: all 0.5s;
        
    }
    .menu-icon::before,
    .menu-icon::after{
        content: "";
    }
    .menu-icon::before{
        transform: translate(-20px, -12px);
    }
    .menu-icon::after{
        transform: translate(-20px, 12px);
    }
    :is(header:hover, header:focus-within) .menu-icon{
        background-color: transparent;
        transform: rotate(360deg);
        
    }
    :is(header:hover, header:focus-within) .menu-icon::before{
        transform: rotate(45deg);
        
    }
    :is(header:hover, header:focus-within) .menu-icon::after{
        transform: rotate(-45deg);
        
    }
    :is(header:hover, header:focus-within) nav{
        display: block;
        
    }

    /* .hamburger::before{
        position: absolute;
        content: '';
        transform: translateY(-0.5rem);



    } */

}