
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap%27');
*{
    margin-left: 1rem;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    /* font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem; */
    
}
html{
    scroll-behavior: smooth;
    /* scroll-margin-inline: 4rem; */
}
/*
--Defining colors 
*/
:root{
    --dark-color: hsl(240, 22%, 13%);
    --secondary-color: #282162;
    --primary-color: #7562E0;
    --low-priority: #848191;
    --light-color: #f5f5f5;
    
    
}
.nowrap{
    white-space: nowrap;
}
.menu-button, .menu-icon{
    display: none;
}
a{
    color: var(--primary-color);
    text-decoration: none;
    margin: 0;
}
i{
    transform: scale(1.5);
}
.links{
    color: var(--light-color);


}
.links:hover{
    color: var(--primary-color);


}
.nav-anchor{
    color: var(--light-color);
    text-decoration: none;

}
.nav-anchor:hover{
    color: var(--primary-color);
    text-decoration: underline;

}
a:active{
    color: rgb(255, 74, 74);
}

body{
    background-color: var(--dark-color);
    color: var(--light-color);
    overflow-x: visible;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 2rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    
}
main{
    overflow-x: visible;
    width: 100%;
    
}

ul{
    display: flex;
    list-style-type: none;
    gap: 1rem;
    align-items: center;
    margin-right: 0.25em;
    
}

#display{
    display: flex;
    flex-wrap: wrap;
    margin-top: 8rem;
    justify-content: space-between;
}
.nav-anchor{
    font-size: 1.125rem;
    text-transform:capitalize;
    transition: all 0.5s ease;
}
li:hover{
    font-size: 1.40rem;
    font-weight: 600;
}
h1,h2,h3,h4,h5,h6{
    color: var(--primary-color);
    font-size: 2rem;
}
#title{
    font-size: 1.75rem;
    cursor: pointer;
    transition: all 0.5s ease;
    
}
#about{
    margin-left: 2rem;
}
#profile{
    border-radius: 50%;
}
figure {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
}

figure img {
    max-width: 100%;
    height: auto; 
}

#contact{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
#message{
    
    margin-right: 1rem;
}
input{
    height: 5vh;
}
input, textarea{
    
    color: var(--light-color);
    font-size: 1.125rem;
    display:block;
    background-color: hsl(240, 22%, 13%);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    margin-top: 0.5em;
    margin-left: 0;
    width: 100%;
    padding: 0.5em;
}

  
.projects{
    margin-left: 2rem;
}
#container{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}
.projectsmain{
    margin-top: 2em;
    margin-bottom: 2em;
}
#blogs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.blog{
    width: 25%;
    height: auto;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    flex-shrink: 1;
    margin-bottom: 2em;
}

button{
    transform: scale(1);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--primary-color);
    
    padding: 0.5rem 1rem; 
    color: var(--light-color);
    font-size: 1rem;
    transition: transform 0.5s ease;

}
button:hover{
    transform: scale(1.05);
}


footer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    
   
}
@media screen and (max-width: 800px){
    *{
        margin: 0 0 0 1px;
    }
    body{
        overflow-x:hidden;
        line-height: 3rem;
        font-size: 1rem;
    }
    h1,h2,h3,h4,h5,h6{
        font-size: 1.5rem;
    }
    .hey{
        font-size: 1.75rem;
    }
    .hello{
        font-size: 2rem;
    }
    button > i{
        margin-left: 1em;
    }
    #about{
        margin-left: 1px;
    }
    i:not(button > i, span > i){
        margin-right: 3rem;
    }
    figure {
        width: 80%;
        margin: auto;
      }
    button:not(.menu-button){
        /* margin-left: -1em; */
        display: block;
        width: 80%;
        margin-right: 2em;
        margin-bottom: 2em;
     }
       .menu-icon{
        display: flex;
    }
    .header-title-line{
        padding: 0.25rem 0.5rem;
        display: flex;
        flex-flow: row nowrap;
        gap: 2em;
        justify-content: space-around;
    }
    .menu-button{
        background-color: transparent;
        border:none;
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
        margin-left: 2rem;
        
    
    }
    .blog{
        width: 80%;
    }
    .menu-icon, .menu-icon::before, .menu-icon::after{
   
        background-color: var(--light-color);
        margin-right: 2rem;
        width: 40px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        transition: all 0.5s;
        transform: translateY(12px);



        
    }
    .menu-icon::before,
    .menu-icon::after{
        content: "";
    }
    .menu-icon::before{
        transform: translateY(-12px);
    }
    .menu-icon::after{
        transform: translateY(12px);
    }
    :is(header:hover, header:focus-within) .menu-icon{
        background-color: transparent;
        transform: rotate(360deg);
        
    }
    :is(header:hover, header:focus-within) .menu-icon::before{
        transform: rotate(45deg);
        
    }
    :is(header:hover, header:focus-within) .menu-icon::after{
        transform: rotate(-45deg);
        
    }
    :is(header:hover, header:focus-within) nav{
        display: block;
        
        
    }
    nav{
        background-color: var(--low-priority);
        display: none;
        position: absolute;
        width: 100%;

        
        /* transform: translate(-50%, -50%); */
        transform-origin: top center;
        animation: showMenu 0.5s ease-in-out;
    
    }
    
    @keyframes showMenu{
        0%{
            transform: scaleY(0);
    
        }
        80%{
            transform: scaleY(1.2);
        }
        100%{
            transform: scaleY(1);
        }
    }
    
    nav ul{
        list-style-type: none;
        display:flex;
        flex-flow: column nowrap;
    
    }
    nav li{
        padding: 0.5rem;
    
    }
    nav a{
        display: block;
        text-align: center;
        width: 80%;
        margin: auto;
    
    }
    nav a:any-link{
        color: var(--light-color);
        font-weight: bold;
        text-decoration: none;
    }
    nav a:hover, a:focus{
        transform: scale(1.2);
        transition: all 0.3s;
    }

}